{% extends "base.html" %}

<!-- Announcement bar -->
{% block announce %}
 NavajaNegra 2025
 <br />2 Oct 16:00 - 21:00 Training ingeniería inversa desde cero
 <br />3 Oct 12:00 - 12:50 Alto envenenamiento del caché de activación en Windows
 <br />Esteban Daniel Kazimirow (Solid) , Ricardo Narvaja
{% endblock %}


{% block header %}
 <!-- Google Tag Manager (noscript) -->
 <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NNXXF62"
 height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
 <!-- End Google Tag Manager (noscript) -->

  {{ super() }}

{% endblock %}
